<div class='letter'>
    <img src='./img/stamp.png' class='stamp'>
    <p class='letterTxt'>Dear <span class='name'></span>,<br>
      This official document hereby decrees you
      have completed the 5 day challenge.
      On behalf of all karmic forces in the
      universe, we thank you for making this 
      planet a little kinder.
      <br><br>
      You have now unlocked the unkind mode. 
       The narrator / protagonist is truly wicked and narracistic.
       We hope you enjoy.
      <br>
      <br>
      Sincerely, <br>
      <img src="./img/icons/president of kindness.png" style='width: 80vw'>
    
<div class='lineContainer'>
    <div class='line line1 topLine'></div>
    <div class='line line2'></div>
    <div class='line line3'></div>
    <div class='line line4'></div>
    <div class='line line5'></div>
    <div class='line line6'></div>
    <div class='line line7'></div>
    <div class='line line8'></div>
    <div class='line line9'></div>
</div>

<div class="return" (click)='exit()'>
<img src="./img/icons/back-arrow.png" width="20px"><br>
RETURN</div>


<div class="facebook" onclick='facebookShare("finished")'>
<img src="./img/icons/facebook.svg" width="20px"><br>
SHARE</div>

<div onclick='twitter("finished")' class="twitter">
<img src="./img/icons/twitter.svg" width="20px"><br>
SHARE</div>

<!--<div class="instagram">
<img src="./img/icons/instagram.svg" width="20px"><br>
SHARE</div>-->

</div>

