<!--more button-->
  <div class="menuItem" id="backKindness" (click)="toKindness()">
    <a>
      <img src="./img/icons/sonny.png">
      <p>Back</p>
    </a>
  </div>


<div class="calView">
 

 <!--CAL SPEACH-->
<div class="speechDiv">
  <div class="triangle-border right" id="calBubble">
    <div class="speechContent">
      <div class="type-wrap">
        <span id="calType"></span>
      </div>
    </div>
  </div>
</div>
<!--cal speech end-->

<img src="./img/sonny/none.png" style="position: absolute; bottom: 0px; right: 0px;">
 <div class="calyDiv">
    
    <img src="" id="calyGif" style='position: fixed'>
    <img src="" id="calyPhone" style='position: fixed; right: 0px; display:none;'>
    

    <!--more button-->
  <div class="menuItem" id="calyCall" (click)="callCaly()">
    <a>
      <img src="./img/icons/caly.png">
      <p>Call</p>
    </a>
  </div>

  </div> 

  <!--<div *ngFor="let hero of whoArray">
    <h1>{{whoArray[0]}}</h1>
    
    </div>-->


<div id="winterHouse">
  <img class="house" src="./img/scenes/winter-house.png">
  <img class="smoke" src="./img/scenes/winter-smoke.gif">
</div>   

  
<div id="boatContainer">
  <img src="./img/scenes/sailboat.png">
</div>

  
  <div id="task-view">

   

  </div>


  <div id="weekView"><div>


<div>


