.sonnyContainer {
    position: absolute;
    z-index: 2;
}
.sonnyChar {
    position: absolute;
    left: -90px;
    top: 50px;
}
.sonnyGif,#sonnyStatic{
    height: 150px;
}

#sonnyStatic{
  display: none;  
  position: absolute;
  top: 0px;
}



/* SPEECH BUBBLE */

.sonnyChat{
    height: 20px;
    border: #473939 solid 0.5px;
    padding: 7.5px;
    vertical-align: bottom;
}

#speechBubble{
    opacity: 0;
    padding: 7.5px;
    top: 75px;
    z-index: 3;
    font-size: 25px;
    min-height: 30px;
    -webkit-transition: width 0.7s, opacity 0.7s; /* Safari */
    transition: width 0.7s , opacity 0.7s;
}
.triangle-border.left {
    left: 100px;

    -webkit-animation-name: speechBorder;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;

    animation-name: speechBorder;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-delay: .5s;    

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    border: solid #FCBA40;    
    border-width: 0px;
}

.triangle-border {
    position: relative; 
    margin: 0 0 3em;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

@keyframes speechBorder {
    from {border-width: 0px;}
    to {border-width: 5px;}
}

.triangle-border:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-style: solid;
    display: block;
    width: 0;
}

.triangle-border.left:before {
    top: 10px;
    bottom: auto;
    left: -30px;
    
    border-width: 0;
    border-color: transparent #FCBA40;
    border-width: 15px 30px 15px 0;
}

.triangle-border.left:after {
    top: 16px;
    bottom: auto;
    left: -18px;
    border-width: 9px 21px 9px 0;
    border-color: transparent #fff;
}
.triangle-border:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 50px;

    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}
/* speech bubble end */

